{
  "compact": false,
  "plugins": [
    "@babel/plugin-transform-runtime",

    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      },
      "antd"
    ],

    [
      "import",
      {
        "libraryName": "ant-design-vue",
        "libraryDirectory": "lib",
        "style": false
      },
      "ant-design-vue"
    ]
  ]
}