.app__title {
  display: inline-block;
  line-height: 64px;
  color: rgba(0, 0, 0, .65);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.app__breadcrumb {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.app__breadcrumb-name {
  color: rgba(0, 0, 0, 0.85);
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.app__dropdown {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.app__dropdown-title {
  margin: 0 15px;
  font-size: 15px;
  text-align: center;
}

.app__dropdown-title-text {
  color: #1890ff;
  margin-right: 5px;
}

.app__logout {
  color: #D50020 !important;
}

.app__menu-icon {
  margin-right: 8px;
}
